<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>javamesoddokadai1</servlet-name>
        <servlet-class>javamesoddokadai1.javamesoddokadai1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai</servlet-name>
        <servlet-class>javamesoddokadai1.kadai</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>javamesoddokadai1</servlet-name>
        <url-pattern>/javamesoddokadai1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai</servlet-name>
        <url-pattern>/kadai</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
